@charset "UTF-8";

* {margin:0; padding:0;}

main {width:1200px; margin:0 auto;}
hr.clear_line {clear:both; border:0;}

#return {float:right; width:150px; height:40px; background:white; border:solid 1px black; margin-bottom:20px;
		 font-size:20px;}

#empty_list {width:1198px; height:400px; text-align:center; vertical-align:center; font-size:30px;}
#ban {width:1198px; padding-bottom:300px;}
#ban a {font-size:25px; font-weight:bold;}
#ban table {width:1198px; /* 기존 width:1098px; height:700px */
			  font-size:20px; border-collapse: collapse;}
#ban table th {height:40px; border:none; border-bottom:solid 2px black; text-align:center;}
#ban table td {height:40px; border:none; border-bottom:solid 1px gray; text-align:center;}
#ban table tr:hover {background:rgb(240,240,240);}
.ban_process {width:90px; height:30px; vertical-align:middle; background:red; border:solid 1px black; font-size:20px;}

#page {display:inline-block; width:1200px; height:30px;
	   font-size:18px; color:black; text-align:center; text-decoration:none;}

#search {width:420px; height:70px; margin-left:380px;}
#search_type {width:100px; height:30px; vertical-align:middle; margin:15px 0 0 20px;}
#search_value {width:200px; height:28px; vertical-align:middle; margin-top:15px;}
#search_submit {width:60px; height:30px; vertical-align:middle; margin-top:15px; background:white; border:solid 1px gray;}

