@charset "UTF-8";

* {margin:0; padding:0;}

main {width:1200px; margin:0 auto 0; padding-bottom:100px; margin-bottom:100px;}
hr.clear_line {clear:both; border:0;}
          
.board_insert {float:right; display:inline-block; width:100px; height:30px; background:white; cursor:pointer;
          text-align:center; line-height:18px; font-size:18px; border:solid 1px gray;}
          /* 관리자 글쓰기 버튼 */

#container {width:1198px; display:inline-block; margin-top:20px;} /* 기존 width:1198px; height:898px; */
#board a {font-size:25px; font-weight:bold;}
#board {width:1198px; font-size:20px; border-collapse: collapse;} /* 기존 width:1098px; height:700px; */
#board th {border:none; border-top:solid 2px gray; border-bottom:solid 2px gray; text-align:center;}
#board tbody {border-bottom:solid 2px gray;}
#board tr:first-child:hover {background:rgb(255,255,255);}
#board tr:hover {background:rgb(240,240,240);}
#board td {border:none; border-bottom:solid 1px rgb(220, 220, 220); text-align:center;}
#board td a {font-size:20px; font-weight:normal; color:black; text-decoration:none;}
#board td:first-child {width:90px;}
#board td:nth-child(2) {text-align:left; padding-left:20px;}
#board td:nth-child(3) {width:180px;}
#board td:nth-child(4) {width:180px;}
#board td:nth-child(5) {width:90px;}
#board td a:hover {text-decoration:underline;}


#page {display:inline-block; width:630px; height:30px; margin-left:285px; text-align:center;
	   font-size:18px; color:black; text-decoration:none;}

.pagination {width:625px; height:30px; text-align:center;}
.pagination li a {display:inline-block; color:black; text-decoration:none;}
.pagination li a:hover {color:blue;}
#mainpage {font-weight:bold;}





.search row {display:inline-block;}
.input-group {display:inline-block;}

#search {width:420px; height:70px; margin-left:380px;}
#search_type {display:inline-block; width:100px; height:30px; margin:15px 0 0 20px;}
#keywordInput {width:200px; height:26px; margin-top:15px;} /* 원래 이름 : search_value */
#searchBtn {width:60px; height:30px; vertical-align:top; margin-top:15px; background:white; border:solid 1px gray;  cursor:pointer;} /* 원애 이름 : search_submit */


