@charset "UTF-8";

* {margin:0; padding:0;}

.window {width:475px; height:175px; border:double 3px gray; margin:10px 0 0 10px; text-align:center;}
b {background:black; color:black;}
h4 {display:block; margin-top:25px; vertical-align:middle; font-size:15px; font-weight:normal; line-height:40px;}
#member_answer {display:inline-block; width:200px; height:25px; padding-left:10px; font-size:12px;}
button {display:inline-block; width:100px; height:25px; vertical-align:middle; background:rgb(250,250,250); border:solid 1px gray;}

