@charset "UTF-8";

* {margin:0; padding:0;}

main {width:1200px; height:1100px; margin:0 auto;}
hr.clear_line {clear:both; border:0;}

#mypage {width:800px; height:1000px; margin:0 auto 20px auto;}
h3 {display:inline-block; width:100px; margin-left:170px;}

.mypage_info {display:inline-block; width:340px; height:40px; padding-left:10px; margin-bottom:45px;
		 font-size:20px; line-height:40px;}
		 
#member_addr1 {border:solid 1px gray; margin-bottom:15px;}
#member_addr2 {border:solid 1px gray;}

#member_point  {display:inline-block; width:120px; height:40px; padding-left:10px; margin-bottom:45px;
		 font-size:20px; line-height:40px;}
#point_check {display:inline-block; width:80px; height:40px; background:whitesmoke; border:solid 1px black;
		   margin-left:10px; font-size:15px; line-height:42px; text-align:center; text-decoration:none; color:black;}

#modify {width:150px; height:40px; background:white; border:solid 1px black; margin:0 10px 30px 77px;
		 font-size:20px;}
#point_give {display:inline-block; width:150px; height:40px; background:white; border:solid 1px black; margin:0 10px 30px 0;
		 font-size:20px;}
#dropout {display:inline-block; width:150px; height:40px; background:white; border:solid 1px black; margin:0 10px 30px 0;
		 font-size:20px;}
#admin_menu {display:inline-block; width:150px; height:40px; background:white; border:solid 1px black; margin:0 10px 30px 0;
		 font-size:20px;}
#return {display:inline-block; width:150px; height:40px; background:white; border:solid 1px black; margin:0 0 30px 0;
		 font-size:20px;}