@charset "UTF-8";

* {margin:0; padding:0;}

main {width:1200px; margin:0 auto; padding-bottom:50px; margin-bottom:50px;}
.clear_line {clear:both; border:solid 2px red;}

#title {display:inline-block; width:1000px; height:30px; padding-left:10px; margin:0 20px 0 100px;
		font-size:20px; font-weight:bold; line-height:30px;}
#writer {display:inline-block; width:200px; height:30px; margin:10px 0 0 100px; font-size:20px; padding-left:10px;}
#wdate {display:inline-block; width:200px; height:30px; font-size:20px; text-align:center;}
#hit {display:inline-block; width:200px; height:30px; margin:10px 20px 0 189px; font-size:20px; text-align:right;}
#share {display:inline-block; width:184px; height:25px; margin:10px 0 0 20px; background:whitesmoke; border:solid 1px gray;
		font-size:20px; line-height:25px; color:black; text-align:center; text-decoration:none;}
.mid_line {border:solid 0.5px gray; margin:10px auto 10px auto;}
#content {width:1000px; font-size:15px; padding:10px 0 200px 10px; margin:30px 0 0 100px;}

#file {max-width:1200px; max-height:800px; margin:10px 0 0 10px;}

#1file {width:1000px; padding-left:10px; margin:30px 0 0 100px;}
#1file img {display:inline-block; max-width:1000px; max-height:500px;}

#post_menu {margin-top:10px;}

#list {float:right; display:inline-block; width:100px; height:30px; background:whitesmoke; 
          text-align:center; line-height:18px; font-size:18px; border:solid 1px gray; margin:0 0 20px 10px;}
#modify {float:right; display:inline-block; width:100px; height:30px; background:whitesmoke; 
          text-align:center; line-height:18px; font-size:18px; border:solid 1px gray; margin:0 0 20px 10px;}
#remove {float:right; display:inline-block; width:100px; height:30px; background:whitesmoke; 
          text-align:center; line-height:18px; font-size:18px; border:solid 1px gray; margin:0 0 20px 10px;}


