@charset "utf-8";

* {margin:0; padding:0;}
a {color:black;}

main {width:1200px; margin:0 auto;}
hr.clear_line {clear:both; border:0;}

#sub_menu {background:rgb(175, 175, 175); text-align:center; margin-bottom:30px;}
#sub_menu a {display:inline-block; width:120px; height:50px;
			 font-size:20px; font-weight:normal; color:white; text-decoration:none;
			 text-align:center; line-height:50px;}
#sub_menu a:first-child {font-weight:bold;}

#league_menu ul {text-align:center;}

/* #table_th {background:black; color:white;} */

table {border-collapse: collapse; text-align:center;}
table td {border-bottom:solid 1px black;}
table td:nth-child(2) {text-align:left;}
table tr:first-child {background:rgb(255, 255, 255); border-top:double 2px black; border-bottom:double 2px black;}
table tr:first-child:hover {background:rgb(255, 255, 255);}
table tr:hover {background:rgb(240, 240, 240);}

#rank {display:inline-block; width:1198px; margin-bottom:50px; border:solid 1px black;}
