@charset "utf-8";

* {margin:0; padding:0;}
a {color:black;}

main {width:1200px; margin:0 auto;}
hr.clear_line {clear:both; border:0;}

#sub_menu {background:rgb(175, 175, 175); text-align:center; margin-bottom:30px;}
#sub_menu a {display:inline-block; width:120px; height:50px;
			 font-size:20px; font-weight:normal; color:white; text-decoration:none;
			 text-align:center; line-height:50px;}
#sub_menu a:nth-child(2) {font-weight:bold;}

#league_menu a {font-size:18px;}

.list li {border-top:solid 3px rgb(150, 150, 150);}
.list li:hover {border-top:solid 3px black;}
.list li a:hover {font-size:21px;}

table {border-collapse: collapse; text-align:center;}
table td {border-bottom:solid 1px black;}
table th {background:rgb(255, 255, 255); border-top:double 4px black; border-bottom:double 4px black;}
table th:hover {background:rgb(255, 255, 255);}
table tr:hover {background:rgb(240, 240, 240);}
.table_id {background:rgb(255, 255, 255);}

#schedule {display:inline-block; width:1198px; margin-bottom:150px; border:solid 1px black;}
