@charset "UTF-8";

* {margin:0; padding:0;}

main {width:1200px; margin:0 auto 0; padding-bottom:200px;}
hr.clear_line {clear:both; border:0;}   
.video_insert {float:right; display:inline-block; width:100px; height:30px; background:whitesmoke; 
          text-align:center; line-height:18px; font-size:18px; border:solid 1px black; margin-right:5px;}
          /* 관리자 글쓰기 버튼 */

#video {width:1198px;} /* 기존 width:1198px; height:898px; */
#video a {font-size:20px; font-weight:bold; color:black; text-decoration:none;}
#video table {display:inline-block; width:293px; font-size:20px; border-collapse: collapse; padding:0; margin:0; 
			  text-align:center;} /* 기존 width:1098px; height:700px; */
#video table img {width:291px;}
#video table th {border:none; border-bottom:solid 1px gray; text-align:left;}
#video table td {border:none;}
.video_hit {width:188px; text-align:left; font-size:15px;}
.video_edge {width:10px;}
.video_date {width:100px; font-size:15px;}
#empty_list {width:1196px; height:400px; text-align:center; vertical-align:center; font-size:30px;}

#video_insert {float:right; display:inline-block; width:60px; height:30px; margin-top:20px; background:white; 
          text-align:center; line-height:15px; font-size:15px; border:solid 1px gray;}
          /* 관리자 업로드 버튼 */

#search {float:right; width:400px; height:70px; margin-top:5px;}
#search form {display:inline-block;}
#search p {display:inline-block; width:50px; height:30px; margin:15px 0 0 20px; padding-left:50px;}
#search_value {display:inline-block; width:200px; height:28px; margin-top:15px; border:solid 1px gray;}
#search_submit {display:inline-block; width:60px; height:30px; margin-top:15px; background:white;
				vertical-align:top; border:solid 1px gray; font-size:15px;}


