<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tpdf.shoot.service.member">

	<!-- parameterType & resultType -->
	
	<insert id="join_process" parameterType="MemberVo">
		insert into member_tbl
		(member_id, member_pw, member_quest, member_answer, member_name, member_gender, member_birth, member_addr, member_email, member_tel) values
		(#{member_id}, #{member_pw}, #{member_quest}, #{member_answer}, #{member_name}, #{member_gender}, #{member_birth}, #{member_addr}, #{member_email}, #{member_tel})
	</insert>

	<select id="id_check" parameterType="MemberVo" resultType="int">
		select exists ( select member_id from member_tbl where member_id=#{member_id} ) as checker
	</select>
	
	<select id="name_check" parameterType="MemberVo" resultType="int">
		select exists ( select member_name from member_tbl where member_name=#{member_name} ) as checker
	</select>

	<select id="find_id1" parameterType="MemberVo" resultType="int">
		select exists ( select member_id from member_tbl where member_name=#{member_name} and member_email=#{member_email} and member_tel=#{member_tel} ) as checker
	</select>
	
	<select id="find_id2" parameterType="MemberVo" resultType="String">
		select member_id from member_tbl where member_name=#{member_name} and member_email=#{member_email} and member_tel=#{member_tel}
	</select>

	<select id="find_pw1" parameterType="MemberVo" resultType="int">
		select exists ( select member_id, member_quest from member_tbl where member_id=#{member_id} ) as checker
	</select>
	
	<select id="find_pw2" parameterType="MemberVo" resultType="String">
		select member_id from member_tbl where member_id=#{member_id}
	</select>
	
	<select id="find_pw3" parameterType="MemberVo" resultType="String">
		select member_quest from member_tbl where member_id=#{member_id}
	</select>
	
	<select id="find_pw4" parameterType="MemberVo" resultType="int">
		select exists ( select member_pw from member_tbl where member_id=#{member_id} and member_answer=#{member_answer} ) as checker
	</select>
	
	<select id="find_pw5" parameterType="MemberVo" resultType="String">
		select member_pw from member_tbl where member_id=#{member_id} and member_answer=#{member_answer}
	</select>

	<select id="login_check" resultType="MemberVo">
		select * from member_tbl member_tbl where member_id=#{member_id} and member_pw=#{member_pw} and del_yn='n'
	</select>
	
	<select id="drop_check" resultType="int">
		select exists(select * from member_tbl member_tbl where member_id=#{member_id} and member_pw=#{member_pw} and del_yn='y') as checker
	</select>
	
	<select id="member_check" parameterType="MemberVo" resultType="int">
		select exists ( select member_id from member_tbl where member_idx=#{member_idx} and member_pw=#{member_pw} ) as checker
	</select>
	
	<select id="member_info" parameterType="int" resultType="memberVo">
		select member_idx, member_id, member_quest, member_answer, member_name, member_gender, member_birth, member_addr, member_point,
		member_email, member_tel from member_tbl where member_idx=#{member_idx}
	</select>
	
	<select id="member_modify" parameterType="MemberVo" resultType="memberVo">
		update member_tbl set member_pw=#{member_pw}, member_quest=#{member_quest}, member_answer=#{member_answer},
		member_email=#{member_email}, member_tel=#{member_tel}, member_addr=#{member_addr} where member_idx=#{member_idx}
	</select>
	
	<select id="member_drop" parameterType="MemberVo" resultType="memberVo">
		update member_tbl set del_yn='y' where member_idx=#{member_idx}
	</select>

</mapper>


